body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 100px;
  height: 100px;
}

.header, .footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  padding: 0 192px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
  padding: 16px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
}

a, .hero-secondary, .footer {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
}

.hero {
  margin-right: 16px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-image {
  /* display: flex; */
  width: 300px;
  height: auto;
}

button, .call-to-action {
  background-color: #3882F6;
  color: #F9FAF8;
}

button {
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  margin-top: 8px;
}

.information {
  color: #1F2937;
  padding: 32px 240px;
  text-align: center;
}

.info .text {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-around;
  gap: 52px;
}

.info-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 32px;
}

.info img {
  border: 5px solid #3882F6;
  border-radius: 8px;
}

.footer {
  font-size: 16px;
  padding: 28px;
  align-items: center;
}


